body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", -apple-system,
    BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-header {
  color: #fff;
  font-size: 18px;
}

.section-header {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 5px;
}
.app-container {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.album-container {
  width: 300px;
  position: relative;
}

a {
  text-decoration: none;
}

.album-image {
  width: 300px;
}

.album-name {
  max-height: 15px;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.album-link:hover > .album-image {
  opacity: 0.5;
}

.album-link:hover > .action-bar {
  opacity: 1;
}

.action-bar:hover {
  opacity: 1;
}

.artist-container {
  display: flex;
  margin-top: 10px;
}

.artist {
  margin-right: 0px;
  display: flex;
  flex-direction: row;
}

.artist-name {
  color: #a0a0a0;
}

.artist:nth-of-type(n + 2)::before {
  content: ", ";
  margin-right: 4px;
  align-self: center;
  color: #a0a0a0;
}

.artist:last-of-type::before {
  content: "& ";
  margin-left: 4px;
  margin-right: 4px;
  align-self: center;
}

.artist:first-of-type::before {
  content: "";
  margin: 0px;
  align-self: center;
}

.album-name:hover,
.artist-name:hover {
  text-decoration: underline;
  color: #ffffff;
}

/*Action bar*/
.action-bar {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 30%;
  opacity: 0;
}

.play-button {
  width: 50px;
  transition: all 1.3s;
  opacity: 0.5;
}

.play-button:hover {
  transform: scale(1.4);
  opacity: 1;
}

.heart {
  width: 30px;
  opacity: 0.7;
}

.dots {
  width: 15px;
}

.playlist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 20px;
}

.playlist-header {
  font-size: 14px;
  color: #fff;
  width: 72px;
  text-align: center;
}

.playlist-image {
  width: 72px;
}

/*Media queries*/
/*Tablet*/
@media only screen and (min-width: 768px) {
  .app-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .album-container {
    width: 200px;
  }

  .album-image {
    width: 200px;
  }

  .playlist {
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: fit-content;
    margin-top: 0;
    align-items: flex-start;
  }

  .playlist-header {
    width: unset;
    text-align: unset;
  }

  .playlist-image {
    width: 100px;
  }

  .main-content {
    width: 90vw;
    flex-direction: row;
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .app-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .app-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
