body {
  margin: 0;
  font-family: Helvetica, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
  color:#fff;
  font-size: 18px;
}

.app-container{
  font-size: 14px;
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
  justify-content: center;
  max-width: 1262px;
}

.album-container{
  
  width: 300px;
  height: 410px;
  position: relative;
}

a {
  text-decoration: none;
}

.album-name {
  max-height: 15px;
  color: #ffffff;
  font-weight: bold;
}

 .album-link:hover > .album-image{
  opacity: 0.5;
}   

 .album-link:hover > .action-bar{
  opacity: 1;
} 

.action-bar:hover{
  opacity:1;
}

.artist-container {
  display: flex;
}

.artist{
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  
}

.artist-name {
  color: #a0a0a0;
}

.artist:nth-of-type(n+2)::before{
  content: ", ";
  margin: 0px;
  align-self: center;
  color: #a0a0a0;
}

.album-name:hover, .artist-name:hover {
  text-decoration: underline;
  color: #ffffff;
}

/*Action bar*/
.action-bar{
  width: 300px;
  height: 65px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 120px;
     opacity: 0; 
}

.play-button{
  width: 50px;
  transition: all 1.3s;
}

.play-button:hover{
transform: scale(1.4);
}

.heart{
  width: 30px;
}

.dots{
  width: 15px;
}




/*Media queries*/
/*Tablet*/
@media only screen and (min-width: 768px) {
  .app-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .app-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  .app-container{
    grid-template-columns: repeat(4, 1fr);
  }

}